/*start variables*/
:root{
    --main-tran:0.7s;
    --main-color:#3a6cf4;
    --main-color-alt:#4e9eff;
}
/*end variables*/
/*start global rules*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Cairo', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* small*/
@media (min-width:767px) {
    .container{
        width: 750px;
        /* max-width: 100%; */
    }
}
/* maduim*/
@media (min-width:992px) {
    .container{
    width: 970px;
    }
}
/*large*/
@media (min-width: 1200px) {
    .container{
        width: 1170px;
    }
}
.main-title{
    display: flex;
    justify-content: center;
    margin: 80px 0;
    color: var(--main-color);
    font-weight: bold;
    font-size: 2.2em;
    align-items: center;
    padding: 30px;
}
/*end global rules*/
/* start header */
.header{
    background-color: #f0f0f0;
    max-width: 100%;
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
@media (max-width:767px) {
    .header .container{
        flex-direction: column;
    }
}
.header .container .logo a{
    flex-wrap: nowrap;
    font-size: 40px;
    font-weight: bold;
    color:var(--main-color) ;
    transition: var(--main-tran);
    -webkit-transition: var(--main-tran);
    -moz-transition: var(--main-tran);
    -ms-transition: var(--main-tran);
    -o-transition: var(--main-tran);
}
@media (max-width:767px) {
    .header .container .logo{
        margin-top: 15px;
    }
    .header .container .logo a{
        margin-top: 10px;
    }
}
.header .container ul{
    display: flex;
    justify-content: space-between;
}
.header .container ul li{
    padding: 20px 10px;
}
.header .container ul li a{
    color: var(--main-color);
    font-size: 18px;
    font-weight: 600;
    padding: 10px 0;
    transition: var(--main-tran);
    -webkit-transition: var(--main-tran);
    -moz-transition: var(--main-tran);
    -ms-transition: var(--main-tran);
    -o-transition: var(--main-tran);
}
.header .container ul li a:hover{
    font-weight: bold;
    color: var(--main-color-alt);
}
/*start landing */
.landing{
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: fit-content;
    display: flex;
    justify-content: center;
}
.landing .image{
    /*margin: 100px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}

    .landing .image img{
        margin-right: 70%;
        width: 400px;
        max-width: 100%;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
        transition: var(--main-tran);
        -webkit-transition: var(--main-tran);
        -moz-transition: var(--main-tran);
        -ms-transition: var(--main-tran);
        -o-transition: var(--main-tran);
        animation: change-photo 11s linear  infinite;
        -webkit-animation: change-photo 11s linear  infinite;
}
@media (max-width:991px) {
    .landing .image{
        display: none;
    }

}
.landing .container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-left: 150px;
}
@media (max-width:767px) {
    .landing .container{
        align-items: center;
    }
}
@media (max-width:991px) {
    .landing .container{
        margin: 0;
    }
}
.landing .container h2{
    color: white;
    margin: 100px 0 50px  ;
}
@media (max-width:767px) {
    .landing .container h2{
        text-align: center;
    }
}
.landing .container span{
    color: var(--main-color-alt);
    font-size: 3.5em;
    font-weight: bold;
    margin-bottom: 50px;
}
@media (max-width:767px) {
    .landing .container span {
        text-align: center;
        font-size: 3.2em; 
    }
}
.landing .container h3{
    color: white;
    margin-bottom: 50px;
    max-width:80%;
    line-height: 40px;
}
@media (max-width:767px) { 
    .landing .container h3{
        text-align: center;
        width: 100%;
    }
}
@media (max-width:767px) {
    .landing .container span , 
    .landing .container h3{
        align-items: center;
    }
}
.landing .container a.view{
    width: fit-content;
    padding: 20px;
    background-color: var(--main-color);
    border-radius:10px ;
    -webkit-border-radius:10px ;
    -moz-border-radius:10px ;
    -ms-border-radius:10px ;
    -o-border-radius:10px ;
    color: white;
    font-weight: bold;
}
.landing .container a.view:hover{
    background-color: var(--main-color-alt);
}
.landing .container ul {
    display: flex;
    flex-direction: row;
}
.landing .container ul li i{
    margin: 50px 15px ;

}
.landing .container ul li a{
    color: white;
}
.landing .container ul li a:hover{
    color: var(--main-color-alt);
}
/* end landing*/
/* start services  */ 
.services{
    background-color: white;
}
.services .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px, 1fr));
}
@media (max-width:991px) {
    .services .container{
        flex-direction: column;
    }
}
.services .container .card{
    background-color: #fff;
    text-align: center;
    align-items: center;
    box-shadow: 0 5px 25px rgb(1 1 1/ 15%);
    padding: 25px;
    color: var(--main-color);
    transition: var(--main-tran);
    -webkit-transition: var(--main-tran);
    -moz-transition: var(--main-tran);
    -ms-transition: var(--main-tran);
    -o-transition: var(--main-tran);
    margin-bottom: 40px;
    margin-left: 25px;

}
@media (max-width:767px) {
    .services .container .card.email{
        width: 00px;
    }
}
.services .container .card:hover{
    transform: scale(1.3);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}
@media (max-width:991px) {
    .services .container .card{
        margin: 15px auto;
    }
}
.services .container .card i{
    margin: 20px auto;
}
.services .container .card h5{
    margin: 20px auto;
    font-weight: bold;
    font-size: 25px;
}
.services .container .card p{
    color: black;
    font-size: 18px;
}
/* end services  */ 
/* start projects */ 
.project{
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: fit-content;
    padding-bottom: 50px;
}
@media (max-width:767px) {
    .project{
        height: fit-content;
        max-width: 100%;
    }
}

.project .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
    gap: 40px;
    align-items: center;
}

.project .container .box{
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    height:fit-content;
    padding: 15px;
    align-items: center;
}
.project .container .box .left .dots{
    visibility: hidden;
}
@media (min-width:381px) {
    .project .container .box .left .dots{
        display: none;
    }
}
@media (min-width:1200px) {
    .project .box.temb2{
        transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -o-transform: translateY(-30px);
}}
@media (max-width:767px) {
    .project .container .box{
        width: 85vw;
        align-items: center;
    }
}
@media (max-width:767px) {
    .project .container .box{
        max-width: 100%;
        }
} 
.project .container .box img{
    max-width: 100%;
}
.project .box p{
    font-size: 18px;
    margin-top: 10px;
}
.project .box .name{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
.project .box .name .left{
    font-weight: bold;
    margin-top: 10px;
}
.project .box .name .right {
    margin-top: 10px;

}
.project .box .name .right a{

    font-weight: bold;
    color: var(--main-color);
}
/* end projects*/ 
/* start contact */
.contact{
    background-color: white;
}
.contact .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
    gap: 40px;
}

@media (max-width:991px) {
    .contact h2{
        font-size: 1.8em;
    }
}
.contact .container .card{
    background-color: #fff;
    text-align: center;
    align-items: center;
    width:300px;
    box-shadow: 0 5px 25px rgb(1 1 1/ 15%);
    padding: 25px;
    color: var(--main-color);
    transition: var(--main-tran);
    -webkit-transition: var(--main-tran);
    -moz-transition: var(--main-tran);
    -ms-transition: var(--main-tran);
    -o-transition: var(--main-tran);
    margin-bottom: 40px;

}

.contact .container .card:hover{
    transform: scale(1.3);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}
@media (max-width:991px) {
    .contact .container .card{
        margin: 15px auto;
        align-items: center;
    }
}
@media (max-width:767px) {
    .contact .container .card{
        width: fit-content;
    }
    .contact .container .card.email a{
        max-width: 100%;
        font-size: 14px;
    }
}
.contact .container .card i{
    margin: 20px auto;
    display: block;
}
.contact .container .card span{
    display: block;
    margin: 20px auto;
    font-weight: bold;
    font-size: 25px;
}

/* end contact  */
/* start footer */
.footer{
    margin-top: 50px;
    padding: 25px;
    background-color: #000016;
    min-width: fit-content;
}
.footer .container{
    display: flex;
    justify-content: space-between;
}
@media (max-width:767px) {
    .footer .container{
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }
}
.footer .container .copyright{
    color: white;
    font-size: 20px;
}
.footer .container .copyright span{
    color: var(--main-color);
    font-size: 24px;
    }
    @media (max-width:767px) {
    .footer .container .copyright{
        font-size: 16px;
        margin-bottom: 10px;
    }
    .footer .container .copyright span{
        font-size: 17px;
    }
}
.footer .container .links ul{
    display: flex;
}
.footer .container .links ul a{
    margin-left: 10px;
}
.footer .container .links ul a i{
    color: var(--main-color);
}
/* end footer */
/* start animation*/
@keyframes change-photo {
    0%,100%{
        opacity: 0;
}
    50%{
        opacity: 1;
    }
}
/* end animation */